:root {
  /*
    Our token system (Pragmatik) will consist of:
    - Definition (base) tier token groups; these define the branding variables
    - Mapping (interface) tier token groups; these define our branding rules
    
    I'm not going to overload the tokens to match the token spec found here:
    https://www.w3.org/community/design-tokens/
    This is a very heavy specification and we want something simple and lightweight.

    Predefine some rules like thicknesses and radii are x1, sizes/spaces are x2
    We exclude transparencies for now and just stick with solid colors.
    Number scaling is wasteful and unnecessary, and what provides more value is purpose driven token groups (for easy whitelabelling).
    Exhaustive variants will bloat the system so we normalize the sets, and document how to use the groups.
    Naming trips up many token system engineers, so we will use abbreviations only for fairly redundant organizational key segments, leaf keys will need to be full.
    FIGMA Modes will require tokens carry their mode in their token

    Definition Groupings (def. these should only be referenced by mapping variables):
    - 12x Palettes (Main, Support, Emphasis, Dull, Back, Fore, Done, Stop, Help, Warn, Must, Focus)
    - Gaps (paragraphOuter, afterHeading, input, label, splitter, actions)
    - Corners (Dialogs, Popups, Tooltips, Actions, Inputs, ...)
    - Typography (Headings 1, 2, Text, Label, Help, ... )
    - TODO (Alignments... headings, labels - right+top... investigate)

    Levels: Page -> BackPanelShadow -> BackPanel -> BackAction -> MidPanelShadow -> MidPanel -> MidAction -> ForePanelShadow -> ForePanel -> ForeAction

    Typeography will be variants of:
    - fontSize
    - fontFamily
    - fontWeight
    - textDecoration
    - (font-style is only really italic for now)
    - (letter-spacing matters more in headings)
    - (line height only matters when wrapping text)
    - (text-transform will impact readability)

  */

  /* Burgeoning Token System */
  --primary-400: #2cc5d2;
  --primary-500: #26c6da;

  /* Typography */
  --def-typ-hugeFamily: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --def-typ-largeFamily: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --def-typ-mediumFamily: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --def-typ-smallFamily: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --def-typ-ultraWeight: 900;
  --def-typ-heavyWeight: 600;
  --def-typ-normalWeight: 400;
  --def-typ-lightWeight: 100;
  --def-typ-xxlSize: 40px;
  --def-typ-xlSize: 30px;
  --def-typ-lSize: 24px;
  --def-typ-mSize: 14px;
  --def-typ-sSize: 12px;
  --def-typ-xsSize: 8px;

  /* Borders are x1 */
  --def-bor-input: 1px;
  --def-bor-focus: 2px;
  --def-bor-panel: 1px;
  --def-bor-action: 2px;

  /* Gaps are x2 TODO name these differently */
  --def-gap-beforeH1: 8px;
  --def-gap-afterH1: 6px;
  --def-gap-beforeH2: 6px;
  --def-gap-afterH2: 4px;
  --def-gap-afterInput: 8px;
  --def-gap-barActions: 4px;
  --def-gap-actionHeight: 40px;
  --def-gap-actionInnerSidePad: 8px;
  --def-gap-allFocus: 2px;
  --def-gap-label: 4px;
  --def-gap-paragraphPad: 8px;

  /* Corners are x1 */
  --def-corner-input: 2px;
  --def-corner-inputFocus: 2px;
  --def-corner-panel: 5px;
  --def-corner-tip: 2px;
  --def-corner-popup: 5px;
  --def-corner-dialog: 10px;
  --def-corner-action: 99px;
  --def-corner-actionFocus: 99px;
    
  /* Palettes */
  --def-pal-main-50: #eae9fe;
  --def-pal-main-200: #bab6fc;
  --def-pal-main-400: #745df5;
  --def-pal-main-500: #623bec;
  --def-pal-main-900: #4120a9;

  --def-pal-support-50: #f0edfa;
  --def-pal-support-200: #cec1f1;
  --def-pal-support-400: #9b77db;
  --def-pal-support-500: #905fd0;
  --def-pal-support-900: #673b9c;

  --def-pal-emphasis-50: #d3ffeb;
  --def-pal-emphasis-200: #69ffbb;
  --def-pal-emphasis-400: #00f276;
  --def-pal-emphasis-500: #00ca5e;
  --def-pal-emphasis-900: #00753e;

  --def-pal-dull-50: #bfcad0;
  --def-pal-dull-200: #6a818d;
  --def-pal-dull-400: #45555f;
  --def-pal-dull-500: #3c4850;
  --def-pal-dull-900: #232a2e;

  --def-pal-fore-50: #FFFFFF;
  --def-pal-fore-200: #FFFFFF;
  --def-pal-fore-400: #FFFFFF;
  --def-pal-fore-500: #FFFFFF;
  --def-pal-fore-900: #FFFFFF;

  --def-pal-back-50: #a4ac9c;
  --def-pal-back-200: #66705c;
  --def-pal-back-400: #4f5849;
  --def-pal-back-500: #41483d;
  --def-pal-back-900: #31352e;

  --def-pal-done-50: #edf8cf;
  --def-pal-done-200: #bfe76f;
  --def-pal-done-400: #81b622;
  --def-pal-done-500: #689818;
  --def-pal-done-900: #415c18;

  --def-pal-stop-50: #ffc1c3;
  --def-pal-stop-200: #ff595e;
  --def-pal-stop-400: #fd050c;
  --def-pal-stop-500: #d50006;
  --def-pal-stop-900: #970c10;

  --def-pal-warn-50: #fff4c5;
  --def-pal-warn-200: #ffd846;
  --def-pal-warn-400: #ffa303;
  --def-pal-warn-500: #e27a00;
  --def-pal-warn-900: #984008;

  --def-pal-help-50: #d3f5fa;
  --def-pal-help-200: #adebf4;
  --def-pal-help-400: #35c2db;
  --def-pal-help-500: #189ab4;
  --def-pal-help-900: #1a6b84;

  --def-pal-must-50: #ffc1c3;
  --def-pal-must-200: #ff595e;
  --def-pal-must-400: #fd050c;
  --def-pal-must-500: #d50006;
  --def-pal-must-900: #970c10;

  --def-pal-focus-50: #ffead3;
  --def-pal-focus-200: #ffb06d;
  --def-pal-focus-400: #ff5f0a;
  --def-pal-focus-500: #ff4500;
  --def-pal-focus-900: #a1250b;

}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 16px;
  background-color: var(--primary-500);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
p,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  vertical-align: baseline;
  vertical-align: middle;
  line-height: normal;
  overflow: visible;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0oMImSLYBIv1o4X1M8cce4E9lKcw.ttf)
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I94.ttf)
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1Q.ttf)
    format("truetype");
}

.type-light {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.type-bold {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.type-italic {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 14px;
  line-height: 20px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: 400;
  padding: 0.75rem 0;
  line-height: 1.5rem !important;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  outline: none;
}

.checkbox {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  width: 44px;
}

.checkbox input[type="checkbox"] {
  font-size: 1em;
  visibility: hidden;
}

.checkbox input[type="checkbox"] + span:before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 0.85em;
  height: 0.85em;
  transform: translate3d(-50%, -50%, 0);
  background: transparent;
  box-shadow: var(--primary-400) 0 0 0 1px inset;
  content: "";
  display: block;
}

.checkbox input[type="checkbox"]:checked + span:before {
  font-size: 16px;
  line-height: 24px;
  box-shadow: none;
  color: var(--primary-400);
  margin-top: -1px;
  font-family: "percolate";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  content: "\e65e";
}

.input-symbol {
  display: inline-block;
  position: relative;
}

.input-symbol.error [class^="icon-"],
.input-symbol.error [class*=" icon-"] {
  color: #ff4400;
}

.input-symbol [class^="icon-"],
.input-symbol [class*=" icon-"] {
  left: 1em;
}

.input-symbol input {
  padding-left: 3em;
}

.input-symbol input {
  width: 100%;
}

.input-symbol input:focus + [class^="icon-"],
.input-symbol input:focus + [class*=" icon-"] {
  color: var(--primary-400);
}

.input-symbol [class^="icon-"],
.input-symbol [class*=" icon-"] {
  transition: all 300ms ease-in;
  transform: translate3d(0, -50%, 0);
  background: transparent;
  color: #aaa;
  font-size: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  width: 1em;
}

@font-face {
  font-family: "percolate";
  src: url("./assets/icon/percolate.eot?-5w3um4");
  src: url("./assets/icon/percolate.eot?#iefix5w3um4")
      format("embedded-opentype"),
    url("./assets/icon/percolate.woff?5w3um4") format("woff"),
    url("./assets/icon/percolate.ttf?5w3um4") format("truetype"),
    url("./assets/icon/percolate.svg?5w3um4") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "percolate";

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-star:before {
  content: "\e608";
}

.icon-face-sad:before {
  content: "\e60f";
}

.icon-check:before {
  content: "\e65e";
}

.list-heading {
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  text-transform: uppercase;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 11px;
  padding-left: 15px;
  line-height: 40px;
  background: #f8f8f8;
  color: #aaa;
}

.list-heading .icon-sync {
  opacity: 1;
  animation: spin 2s infinite linear;
  display: inline-block;
  margin-right: 4px;
}

.list-item {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background: white;
  transition: all ease-out 150ms;
}

.list-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.list-item input[type="text"] {
  background: transparent;
  width: 100%;
}

.list-item input[type="text"]:focus {
  cursor: text;
}

.pin-button {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  text-align: center;
  transition: all 200ms ease-in;
  color: #eee;
  font-size: 16px;
  line-height: 3rem;
  outline: none;
}

.pin-button:hover {
  color: var(--primary-400);
}
.pin-button:focus {
  outline-color: transparent;
}

.pin-button:active {
  color: #555;
}

.list-item.TASK_PINNED .icon-star {
  color: var(--primary-400);
}

.list-item.TASK_ARCHIVED input[type="text"] {
  color: #4a5568;
  text-decoration: line-through;
}

.list-item:hover {
  background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);
}

.list-item:hover .checkbox {
  cursor: pointer;
}

.list-item + .list-item {
  border-top: 1px solid #f0f9fb;
}

.list-item.checked input[type="text"] {
  color: #ccc;
  text-decoration: line-through;
}

.list-item.checked .delete-item {
  display: inline-block;
}

.loading-item {
  height: 3rem;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  line-height: 1rem;
  padding-left: 16px;
}

.loading-item .glow-checkbox,
.loading-item .glow-text span {
  animation: glow 1.5s ease-in-out infinite;
  background: #eee;
  color: transparent;
  cursor: progress;
  display: inline-block;
}

.loading-item .glow-checkbox {
  margin-right: 16px;
  width: 12px;
  height: 12px;
}

.loading-item + .loading-item {
  border-top: 1px solid #f0f9fb;
}

.list-items {
  position: relative;
  background: white;
  min-height: 288px;
}

.list-items .select-placeholder {
  border: none;
  width: 48px;
}

.wrapper-message {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  height: auto;
  transform: translate3d(0, -50%, 0);
  text-align: center;
}

.wrapper-message [class^="icon-"],
.wrapper-message [class*=" icon-"] {
  font-size: 48px;
  line-height: 56px;
  color: var(--primary-400);
  display: block;
}

.wrapper-message .title-message {
  font-size: 16px;
  line-height: 24px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #4a5568;
}

.wrapper-message .subtitle-message {
  font-size: 14px;
  line-height: 20px;
  color: #4a5568;
}

.page.lists-show {
  min-height: 100vh;
  background: white;
}

.page.lists-show nav {
  background: #d3edf4;
  padding: 1.5rem 1.25rem;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .page.lists-show nav {
    text-align: left;
  }
}

.page.lists-show nav .title-page {
  font-size: 20px;
  line-height: 24px;
  line-height: 2rem;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  color: #1c3f53;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
